:root {
    --font: 'Pixellari', sans-serif;
    --background: rgb(35, 40, 64);
    --icons-hover: #e0c8d4;
    --icons: #D78FB2;
    --title: rgba(246, 73, 167, 0.9);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font);
    background-color: var(--background);
    list-style: none;
    text-decoration: none;
    height: 100%;
}
@font-face {
  font-family: 'Pixellari';
  src: url('../fonts/Pixellari.ttf');
}
main.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
main > section.title {
    width: 100%;
    font-size: 5em;
    color: var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main > section.title > div.title__border {
    text-align: left;
    padding: .2em .5em .1em .5em;
    box-shadow: 8px 8px 6px -6px black;
}
@media only screen and (max-width: 400px) {
    main > section.title {
        font-size: 3.5em;
    }
}
@media only screen and (max-width: 300px) {
    main > section.title {
        font-size: 3em;
    }
}
main > section.title > div.title__border > div > div {
    display: inline-block;
}
main > section.title > div.title__border > div:last-child > div {
    display: inline-block;
}
main span.subtitle {
    width: 100%;
}
main span.subtitle {
    font-size: .22em;
    color: var(--icons);
    text-align: center;
}
main div.icons > a > i:hover {
    color: var(--icons-hover);
    transition: all .3s ease-in-out;
}
main div.icons > a > i {
    font-size: .5em;
    color: var(--icons);
}
main > section.title > div.title__border > div:last-child div {
    margin-left: .15em;
}
main > section.title > div.title__border > div:first-child > div {
    margin-right: .3em;
}
main > section.title > div.title__border > div:nth-child(2) > div {
    margin-right: .4em;
}
main > section.title > div.title__border > div span {
    vertical-align: middle;
}
