:root {
    --font: 'Pixellari', sans-serif;
    --background: rgb(35, 40, 64);
    --icons-hover: #e0c8d4;
    --icons: #D78FB2;
    --title: rgba(246, 73, 167, 0.9);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font);
    background-color: var(--background);
}
@font-face {
  font-family: 'Pixellari';
  src: url('../fonts/Pixellari.ttf');
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
main > article {
    width: 100%;
    font-size: 5em;
    color: var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main > article > div {
    text-align: left;
    padding: .2em .5em .1em .5em;
    box-shadow: 8px 8px 6px -6px black;
}
@media only screen and (max-width: 400px) {
    main > article {
        font-size: 3.5em;
    }
}
@media only screen and (max-width: 300px) {
    main > article {
        font-size: 3em;
    }
}
main div.icon {
    position: relative;
    bottom: 10px;
}
main div.icon > a > i {
    font-size: .5em;
    color: var(--icons);
}
main div.icon > a > i:hover {
    color: var(--icons-hover);
    transition: all .3s ease-in-out;
}
main > article > div > section > div {
    display: inline-block;
}
main > article > div > section:first-child > div {
    margin-right: .3em;
}
main > article > div > section:nth-child(2) > div {
    margin-right: .4em;
}
main > article > div > section:last-child > div {
    margin-left: .15em;
}
main > article > div > section:last-child > span {
    width: 100%;
    font-size: .22em;
    color: var(--icons);
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 5px;
}
